/*  Global   */
body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Vollkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

/*  Typography   */
.font-1-s {
  font:
    500 1.2rem/1 "Vollkorn",
    Georgia,
    serif;
}
.font-2-s {
  font:
    700 3.5rem/1 "Vollkorn",
    Georgia,
    serif;
}
.font-3-s {
  font:
    400 0.75rem/1.7 "Vollkorn",
    Georgia,
    serif;
  font-style: italic;
}
.font-4-s {
  font:
    500 3rem/1 "Vollkorn",
    Georgia,
    serif;
  font-style: italic;
}
.font-1-ab {
  font:
    100 1.215rem/1.5 "Vollkorn",
    Georgia,
    serif;
}
.font-2-ab {
  font:
    100 1.215rem/1.5 "Vollkorn",
    Georgia,
    serif;
}
.font-3-ab {
  font:
    500 1.4rem/1.5 "Vollkorn",
    Georgia,
    serif;
  font-style: italic;
}

.font-4-ab {
  font:
    100 1.2rem/1 "Vollkorn",
    Georgia,
    serif;
}

/* Estrutura */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 1fr;
  box-sizing: border-box;
  grid-template-areas:
    "header header header"
    "sidenav content ad"
    "footer footer footer";
}
@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav ad ad"
      "footer footer footer";
  }
}
@media (max-width: 760px) {
  .estrutura {
    grid-template-areas:
      "header header header"
      "sidenav sidenav sidenav"
      "content content content"
      "ad ad ad"
      "footer footer footer";
  }
}

/* Header */
.header {
  background: linear-gradient(135deg, #4c79ff, #6f93ff);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  grid-area: header;
}
.header img {
  width: 225px;
}
.header-links {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 35px;
}
.header-links li a {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  transition: 0.1s;
}
.header-links li a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.header-links a {
  color: #ffffff;
}
@media (max-width: 760px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .header-links {
    gap: 15px;
  }
}

/* Sidenav */
.sidenav {
  background-color: #f7f7f7;
  padding: 30px;
  justify-items: center;
  grid-area: sidenav;
}

.sidenav ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
}
.sidenav li {
  background-color: #ffffff;
  border-radius: 4px;
  min-width: 70px;
  padding: 20px;
  box-shadow: 0px 1px 25px rgba(0, 0, 1, 0.233);
  transition: 0.2s;
}
.sidenav li:hover {
  background-color: #bd6ffd;
}
.sidenav img {
  max-width: 100px;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 760px) {
  .sidenav {
    justify-items: left;
    position: relative;
    overflow: scroll;
  }
  .sidenav::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 25px;
    color: #b4b4b4;
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  @keyframes seta {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(8px);
    }
  }
  .sidenav ul {
    gap: 0;
  }
  .sidenav li {
    margin-right: 35px;
  }
  .sidenav li:nth-of-type(6) {
    margin-right: 0;
  }
  .sidenav ul {
    grid-template-columns: repeat(7, auto);
  }
}

/* Content */
.content {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  gap: 35px;
}

.titulo h1 {
  margin-bottom: 7px;
  color: #5882ff;
}
.titulo span {
  color: #5882ff;
}
.caracteristicas {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 30px;
  align-items: self-start;
}
.caracteristicas span {
  color: #6f93ff;
  display: block;
  justify-self: center;
  align-self: flex-start;
}
.caracteristicas span:nth-of-type(1) {
  background: linear-gradient(135deg, #4c79ff, #6f93ff);
  padding: 12px;
  border-radius: 4px 4px 0 0;
}
.caracteristicas span:nth-of-type(2) {
  padding: 6px 0px 6px 0;
}
.caracteristicas div {
  box-shadow: 0px 1px 25px rgba(0, 0, 1, 0.233);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}
.content p:nth-of-type(1) {
  grid-column: 1 /-1;
}
.content p:nth-of-type(2) {
  max-width: 200px;
  color: #5882ff;
}
.content img:nth-of-type(1) {
  grid-row: 3 / 5;
  margin-top: 20px;
  align-self: self-end;
}
.content img:nth-of-type(2) {
  align-self: self-end;
}
.content blockquote {
  grid-column: 1 / -1;
  text-align: center;
  background: linear-gradient(135deg, #4c79ff, #6f93ff);
  padding: 30px;
  color: #ffffff;
  border-radius: 4px;
}
.atributos {
  display: grid;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(135deg, #4c79ff, #6f93ff);
  padding: 30px;
}
.atributos li {
  color: #e7e7e7;
  padding: 15px;
  border-bottom: 2px solid #6f93ff;
}
.atributos li:nth-of-type(6) {
  border-bottom: none;
}
.informacoes p:nth-of-type(1) {
  margin-bottom: 30px;
}
.informacoes p:nth-of-type(2) {
  color: initial;
  max-width: none;
}
.content img:nth-of-type(3) {
  grid-column: 1 / -1;
}
@media (max-width: 420px) {
  .content {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }
  .atributos {
    justify-self: normal;
  }
}

/* Ad */
.anuncios {
  grid-area: ad;
  background-color: #f7f7f7;
  padding: 30px;
}
.anuncios img:nth-of-type(1) {
  margin-bottom: 30px;
}

/* Footer */
.footer {
  grid-area: footer;
  padding: 30px;
  text-align: center;
  background: linear-gradient(135deg, #4c79ff, #6f93ff);
  color: #ffffff;
}
